h3 {font-size:0.85em;font-weight:normal;color:#999;margin-bottom:3px;}
#aboutspc {margin-bottom:2.5em;color:#999;font:1.25em/1.35em HelveticaNeueLTStd-Lt,"HelveticaNeueLT Std Lt","Helvetica Neue Light","Helvetica Neue",HelveticaNeue-Light,HelveticaLTStd-Light,Helvetica,Arial,sans-serif;font-weight:300;}
#aboutspc p.versioninfo {font-size:0.75em;line-height:1.25em;}
#aboutspc a {color:#abcd04;}
#soundplayerspc div.title, #soundplayer_playlist, .oneoffour, .oneofthree, .oneoftwo {font-size:0.85em;line-height:1.5em;}
#deerhoofcollection img {margin:0 7px 6px 0;}

#soundplayerspc2 {background-color:#333;color:#fff;}
#soundplayerspc2 div.flower_soundplayer, #soundplayerspc2 li {padding:6px;}
#soundplayerspc2 li {padding:2px 6px 2px 6px;border-top:1px dotted #666;}
#soundplayerspc2 li.flower_soundplaylist_altli {background-color:#444;}
#soundplayerspc2 div.flower_soundplayer_time {font-size:0.85em;color:#999;}
#soundplayerspc2 div.flower_soundplayer_title {font-size:1.5em;font-weight:bold;}
#soundplayerspc2 div.flower_soundplayer_seekbar {background-color:#0cf !important;}