h3 {font-size:0.85em;font-weight:normal;color:#999;margin-bottom:3px;}
#aboutspc {margin-bottom:2.5em;color:#999;font:1.25em/1.35em HelveticaNeueLTStd-Lt,"HelveticaNeueLT Std Lt","Helvetica Neue Light","Helvetica Neue",HelveticaNeue-Light,HelveticaLTStd-Light,Helvetica,Arial,sans-serif;font-weight:300;}
#aboutspc p.versioninfo {font-size:0.75em;line-height:1.25em;}
#aboutspc a {color:#abcd04;}
#soundplayerspc {width:66%;}
#soundplayerspc div.title, #soundplayer_playlist, .oneoffour, .oneofthree, .oneoftwo {font-size:0.85em;line-height:1.5em;}
#deerhoofcollection img {margin:0 7px 6px 0;}